<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-up</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="center">
        <h1>Register</h1>
        <form action="/sign-up" method="post">
            <div class="txt_field">
                <input type="text" name="username" required>
                <span></span>
                <label>Username</label>
            </div>
            <div class="txt_field">
                <input type="text" name="email" required>
                <span></span>
                <label>Email</label>
            </div>
            <div class="txt_field">
                <input type="password" name="password" required>
                <span></span>
                <label>Password</label>
            </div>
            <input type="submit" value="Sign up">
            <div class="signup_link">
                have an account? <a href="/sign-in">Sign in</a>
            </div>
            <div>
                <script type="text/javascript">
                    if ('{{ .Message}}' != ""){
                        alert('{{ .Message}}');
                    }
                </script>
            </div>
        </form>
    </div>
</body>
</html>